@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
button,
input {
  background: transparent;
  border: 0;
  outline: 0;
}
img,
video {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  color: inherit;
}
a,
span {
  display: inline-block;
}
.blind {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
